<p id="notice"><%= notice %></p>
<h3>プロジェクト一覧</h3>
<%= link_to '新しいプロジェクトを作る', new_project_path %>
<br />
<br />

<% @projects.each do |project| %>
<hr />
  <%= link_to project.name, project %>
  <h5><%= "#{project.iterations.size} iterations"%></h5>
<% end %>
