<div id="notice"><%= notice %></div>
<span id="title">Project List</span>
<span id="act"><%= link_to '新しいプロジェクトを作る', new_project_path %></span>
<% @projects.each do |project| %>
  <hr />
  <%= link_to project.name, project_path(project) %>
  <div id="topics">
  <%# project.iterations.each do |i| %>
    \__<%#= "#{i.name} has #{i.kpts.size} kpts" %><br/> 
  <%# end %>
  <br />
  </div> 
<% end %>
