/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
  position: relative;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
}

#main_title { 
  font-size: 24px;
  font-weight: bold; }
#info {
  float: right; 
  font-family: cursive; }
#header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  Text-align: left;
  color: #CC99CC;
  background-color: white;
}

#contents {
  width: 800px;
  background-color: white;
  Text-align: center; 
  position: relative;
  margin-left: auto;
  margin-right: auto;
  Text-align: left;
}

#footer {
  width: 800px;
  background-color: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  Text-align: left;
}

table {
  position: relative;
  Text-align: left;
}

td, th {
  margin-left: 10px;
  border: 2px solid;
}
