// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
  font-size: 34px; }

#act {
  font-size: 12px;
  color: red; } 

#topics {
  color: blue;
  margin-left: 40px;
  font-size: 10px; } 
